<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About Me!</h2>
                <hr class="light">
                <p class="text-faded">I'm an outgoing individual with the goal to create exemplar and award winning omni-channel experiences in the digital out of home space. I achive this through my diverse skill set in the arts, humanities, and technology. I've worked with Canada's largest retailers such as Walmart, Indigo, Cineplex and Loblaws to bring their solutions to life wheter through web development, project planing, or content strategy/sourcing.
                </p>
                <a class="btn btn-default btn-xl page-scroll" href="#services">My Services</a>
            </div>
        </div>
    </div>
</section>
