<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About Me!</h2>
                <hr class="light">
                <p class="text-faded">I'm a passionate and outgoing individual with the goal to create exemplar and award winning experiences. I achieve this through my diverse skill set in the arts, humanities, and technology. I've worked with Canada's largest retailers such as Loblaws, Walmart, Indigo, and Cineplex to bring their solutions to life whether through web development, project planning, or content strategy. I look for opportunites that allow collaboration across UX, business, and technology.
                </p>
                <a class="btn btn-default btn-xl page-scroll" href="#services">My Skills</a>
            </div>
        </div>
    </div>
</section>
