<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Let's Get In Touch!</h2>
                <hr class="primary">
                <p>Ready to put your omni-channel experiences on the path to success? Reach out to me and we can talk about the best approach. I'm available on a consulting basis and may consider full-time opportunities in the Toronto, Chicago, New York and San Francisco city centers. However do not contact me without providing as much detail as possible including your budget/salary range, job description, location, and how you think I can help. If you don't know these things, please state up front that you need help understanding what you need and we can work together to get you set on the right path.</p>
                <p>This isn't the only place I exist on the Internet, follow me on <a href="https://twitter.com/{{ site.twitter_username }}">Twitter</a>, connect with me on <a href="{{ site.linkedin_url }}">LinkedIN</a>, checkout my photography on <a href="https://www.flickr.com/photos/jameswilkinsonphoto/">Flick'r</a> and ask me about my public speaking!</p>
                <p>I am also the Executive Director of <a href="http://fsto.co/">Full Stack Toronto</a>, a non-profit bringing together web professionals through commercial free, intermediate and advanced education</p>
            </div>
        <div class="col-sm-4 text-center">
            <a href="https://twitter.com/{{ site.twitter_username }}">
                <i class="fa fa-twitter fa-3x wow bounceIn" data-wow-delay=".1s"></i>
            </a>
        </div>
        <div class="col-sm-4 text-center">
            <a href="{{ site.linkedin_url }}">
            <i class="fa fa-linkedin-square fa-3x wow bounceIn" data-wow-delay=".1s"></i>
            </a>
        </div>
    </div>
</section>
