<header>
    <div class="header-content">
        <div class="header-content-inner">
            <img src="/img/james.png" alt="James Wilkinson" class="profile-image" />
            <h1>Omni-Channel and Digital out of Home Specialist</h1>
            <hr>
            <p>Navigating the digital out of home space can be difficult, multiple vendors, multiple technologies, and multiple ways of approaching an omni-channel solution. I'm here to help set you on the path to success!</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">About Me</a>
        </div>
    </div>
</header>
