<header>
    <div class="header-content">
        <div class="header-content-inner">
            <img src="/img/james.png" alt="James Wilkinson" class="profile-image" />
            <h1>Development, Product, Project</h1>
            <hr>
            <p>I'm more than just a front-end developer. I understand how the back-end works and what pitfalls and wins the front-end can get, I know when a piece of logic will over complicate a user experince, and I know when a design needs tweaked to work in the browser. I also organize Full Stack Toronto a large conference and meetup for web developers. I'm ready for collborative challenges!</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">About Me</a>
        </div>
    </div>
</header>
