<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Services</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-12 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-code wow bounceIn text-primary"></i>
                    <h3>Web Development</h3>
                    <p class="text-muted">At the heart of the best omni-channel solutions is custom development. I can help you lead a team of developers to produce quality, standards compliant, and performant code for your solutions.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-line-chart wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Strategy</h3>
                    <p class="text-muted">Not sure where to start approaching omni-channel or DOOH? Let's have a chat to disccuss your goals and get you on the path to success.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Content</h3>
                    <p class="text-muted">Just as important as good content, is showing it at the right time and place. Tap into my network to get the best quality content for your strategy.</p>
                </div>
            </div>
        </div>
    </div>
</section>
